<div *ngIf="selectedProject">
  <h2>
    {{selectedProject.name | uppercase}} was selected
  </h2>

  <h2>Project {{selectedProject.name}} details</h2>
  <div>
    <label>Name: </label> {{selectedProject.name}}
    <input [(ngModel)]="selectedProject.name" placeholder="name">
  </div>
  <div>
    <label>Description: </label> {{selectedProject.description}}
    <input [(ngModel)]="selectedProject.description" placeholder="Description">
  </div>
  <div>
    <label>Created By: </label>
    <input [(ngModel)]="selectedProject.createdBy.name" placeholder="Created By" disabled>
  </div>
  <button (click)="save()">Update</button>

  <button (click)="cancelSelectedProject()">Cancel</button>
  <button (click)="deleteProject()">Delete {{selectedProject.name}}</button>
  <button (click)="viewAssignedTeams()">View Teams</button>

  <div *ngIf="showProjectTeams">

    <h3>Teams assigned on project {{selectedProject.name}}</h3>

    <div *ngIf="selectProjectTeam">
      <h3>Team {{selectProjectTeam.name}} is selected</h3>
      <button (click)="cancelTeamProject()">Cancel</button>
      <button (click)="deleteTeamFromProject()">Delete Team from Project</button>
    </div>

    <button (click)="addTeamToProject()">Add Team to Project</button>
    <button (click)="hideAssignedTeams()">Hide Assigned Teams</button>

    <ol class="projects">
      <li *ngFor="let team of projectTeams | paginate : {
          id: 'project-teams-pagination',
          itemsPerPage: 4,
          currentPage: assignedTeamsPage,
          totalItems: assignedTeamsCount
       };
       let i = index"
          [class.selected]="team === selectProjectTeam"
          (click)="onTeamSelect(team)">
        {{team.name}}
      </li>
    </ol>
    <pagination-controls
      id="project-teams-pagination"
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handleAssignedTeamsPageChange($event)"
    ></pagination-controls>
  </div>
</div>

<div>
  <h2>
    Add Project
  </h2>
  <button (click)="goToAdd()">Add project</button>
</div>

<h2>Projects</h2>
<ol class="projects">
  <li *ngFor="let project of projects | paginate : {
          id: 'projects-pagination',
          itemsPerPage: 4,
          currentPage: page,
          totalItems: count
       };
       let i = index"
      [class.selected]="project === selectedProject"
      (click)="onSelect(project)">
    {{project.name}}
  </li>
  <pagination-controls
    id="projects-pagination"
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]="true"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</ol>
