<div *ngIf="selectedAddress">
  <h2>
    Address was selected
  </h2>

    <h2>Address details</h2>
    <div>
      <label>City: </label> {{selectedAddress.city}}
      <input [(ngModel)]="selectedAddress.city" placeholder="City">
    </div>
    <div>
      <label>Street: </label> {{selectedAddress.street}}
      <input [(ngModel)]="selectedAddress.street" placeholder="Street">
    </div>
    <button (click)="save()">Update</button>

  <button (click)="cancel()">Cancel</button>
  <button (click)="deleteAddress()">Delete</button>
</div>

<div>
  <h2>
    Add Address
  </h2>
  <button (click)="goToAdd()">Add address</button>
</div>

<h2>Addresss</h2>
<ol class="addresses">
  <li *ngFor="let address of addresses | paginate : {
          itemsPerPage: 4,
          currentPage: page,
          totalItems: count
       };
       let i = index
      "
      [class.selected]="address === selectedAddress"
      (click)="onSelect(address)">
      {{address.city}}, {{address.street}}
  </li>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]="true"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</ol>
